[Desktop Entry]
Name=Vim in st
Comment=Edit text files in Vim using the st terminal emulator
Exec=st -n fterm -g 120x30 -e vim %F
Icon=vim
Terminal=true
Type=Application
Categories=Utility;TextEditor;
MimeType=text/plain;
